@model ProgramaStarter.Application.DTO.ProgramaStartDTO

<form asp-controller="ProgramaStart" asp-action="Edit" method="POST">
  <input type="hidden" asp-for="Id">

  <div class="row">
    <div class="form-floating col-md-6">
      <input type="text" class="form-control" placeholder="Nome" asp-for="Nome">
      <label class="form-label" asp-for="Nome">Nome</label>
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
  </div>

  <div class="row">
    <div class="form-floating col-md-4">
      <input type="date" class="form-control" asp-for="DataInicio">
      <label class="form-label" asp-for="DataInicio">Data de Inicio</label>
      <span asp-validation-for="DataInicio" class="text-danger"></span>
    </div>
    <div class="form-floating col-md-4">
      <input type="date" class="form-control" asp-for="DataFim" >
      <label class="form-label" asp-for="DataFim">Data de Encerramento</label>
      <span asp-validation-for="DataFim" class="text-danger"></span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Confirmar</button>
  <button type="button" class="btn btn-outline-secondary"><a asp-action="Index">Retornar</a></button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}