@model ProgramaStarter.Application.DTO.TecnologiaDTO

<form asp-controller="Tecnologia" asp-action="Create" method="POST">
  <div class="row">
    <div class="form-floating col-md-8">
      <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
      <label class="form-label" asp-for="Nome">Nome</label>
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
  </div>

  <div class="row">
    <div class="form-floating col-md-8">
      <input type="text" asp-for="Descricao" class="form-control" placeholder="Descricao">
      <label class="form-label" asp-for="Descricao">Descricao</label>
      <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Confirmar</button>
  <button type="button" class="btn btn-outline-secondary"><a asp-action="Index">Voltar para Tecnologias</a></button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}